* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Chamberlain;
  src: url(../ChamberlainDemoRegular.ttf);
}

body {
  background-color: #e5fff1 !important;
}

/* NAVBAR */

nav.navbar {
  padding: 10px 0 !important;
  background: #e5fff1 !important;
  font-family: Chamberlain !important;
}
nav ul {
  text-transform: uppercase;
}
nav li a.active {
  border-bottom: 3px solid #51b39c;
}
nav li a {
  font-weight: bold !important;
  letter-spacing: 2px !important;
}
nav img.logo {
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
}

#check {
  display: none;
}

.button {
  width: 48px;
  height: 29px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease-in;
  border: none !important;
}
.button span {
  height: 3px;
  width: 100%;
  background: #7777;
  display: block;
  margin-top: 5px;
  transition: all 0.5s cubic-bezier(0.62, 0.43, 0.35, 1.47);
}
.button span:first-child {
  margin-top: 0;
}

/* toggle icon animation */
#check:checked ~ .button span:nth-child(1) {
  width: 100%;
  transform: rotate(45deg) translateY(4px) translateX(6px);
}
#check:checked ~ .button span:nth-child(2) {
  width: 0;
}

#check:checked ~ .button span:nth-child(3) {
  width: 100%;
  transform: rotate(-45deg) translateY(-6px) translateX(7px);
}

/* contact form */

.contact {
  margin-top: 30px;
}

.contact h2 {
  font-size: 50px !important;
}

.inner-contact {
  margin-top: 50px;
  height: auto;
  width: 100%;
}

.contact-form {
  display: flex;
  align-items: start;
  width: 100%;
  height: auto;
}

.contact-form input,
.contact-form textarea {
  width: 80%;
  margin-top: 30px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #51b39c;
  box-shadow: 0 0 0 0.2rem #51b39c;
} 

.contact-form input {
  height: 50px;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  width: 20%;
  height: 50px;
  margin-top: 30px;
  color: #fff;
  transition: .5s ease;
}

.contact-form button:hover {
  
  
}

/* IFRAME */

.contact-form iframe {
  width: 490px;
  height: 340px;
  padding-top: 29px;
  padding-right: 30px;
}

@media (max-width: 992px) {
  .contact-form .col-md-6 {
    width: 100%;
  }
  .contact-form iframe {
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }
  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }
}

/* FOOTER */

footer {
  background-color: #51b39c;
  padding: 40px 0;
  margin-top: 200px;
  display: flex !important;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
footer ul li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.3s ease;
}
footer ul li a i {
  font-size: 30px;
  color: #51b39c;
  transition: 0.3s ease;
}
footer ul li:hover i {
  color: #fff;
}
footer ul li:hover a {
  background-color: #51b39c;
}

@media(max-width: 768px) {
  nav .Logo-link{
    width: 75%;
  }
  nav .Logo-link img{
    width: 85%;
  }
  .contact h2 {
    font-size: 34px !important;
  }
}